/* 

---------------------------------------------
	
	General
	
---------------------------------------------

*/

* { 
	margin: 0; 
	padding: 0; 
}

body {
	font-family: Helvetica, Sans-Serif;
	background-image:url('images/scribble_light.png');
}

h1 {
	font-size:39px;
}

h2 {
	margin: 0 0 10px 0;
}

table {
	width:800px;
	margin:0 auto;
}

td {
	width:50%;
	text-align:center;
}

h1, h2, b {
	color: #990000;
}

/* 

---------------------------------------------
	
	Custom Buttons
	
---------------------------------------------

*/


.begin-convo, .end-convo {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e60000), color-stop(1, #990000) );
	background:-moz-linear-gradient( center top, #e60000 5%, #990000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e60000', endColorstr='#990000');
	background-color:#e60000;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #b30000;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:15px 80px;
	text-decoration:none;
	text-shadow:1px 1px 0px #990000;
}

.begin-convo:hover, .end-convo:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #990000), color-stop(1, #e60000) );
	background:-moz-linear-gradient( center top, #990000 5%, #e60000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#990000', endColorstr='#e60000');
	background-color:#990000;
	cursor: pointer;
}

.begin-convo:active, .end-convo:active {
	position:relative;
	top:1px;
}

.end-convo {
	padding:6px 24px;
}

/* 

---------------------------------------------
	
	Front Page Stuff
	
---------------------------------------------

*/


#balloons_img {
	width:350px;
	border:3px solid #990000;
}

#intro_div {
	width: 350px;
}

#campusconvos_p {
	width: 305px;
	padding: 0;
	margin: 10px auto;
	text-align: left;
}

#bottom_section {
	font-size:11px;
	width:250px;
	margin:20px auto;
}

#bottom_section a {
	text-decoration:none;
	color:black;
}

#bottom_section a:hover {
	color:#990000;
}


.ui-dialog-titlebar-close {
			visibility: hidden;
		}

.ui-button-text {
	left: 145px;
	position: absolute;
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
}.ui-button-text:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}.ui-button-text:active {
	position:relative;
	top:1px;
}

/* 

---------------------------------------------
	
	Custom Chat Page Stuff
	
---------------------------------------------

*/

#dialog-confirm {
	display: none;
	background-color: white;
}

#survey {
	position: absolute;
	left: 100px;
}


/* 

---------------------------------------------
	
	Default Chat Stuff 
	
---------------------------------------------

*/

#page-wrap { 
	width: 500px; 
	margin: 30px auto; 
	position: relative;
}

#chat-wrap { 
	border: 1px solid #eee; 
	margin: 0 0 15px 0; 
}

#chat-area { 
	height: 300px; 
	overflow: auto; 
	border: 1px solid #666; 
	padding: 20px; 
	background: white; 
}

#chat-area span { 
	color: white; 
	background: #990000; 
	padding: 4px 8px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 8px; 
	margin: 0 5px 0 0; 
}

#chat-area p { 
	padding: 8px 0; 
	border-bottom: 1px solid #ccc; 
}

#name-area { 
	position: absolute; 
	top: 12px; 
	right: 0; 
	color: #990000; 
	font: bold 12px Helvetica, Sans-Serif;
	text-align: right; 
}   
	
#name-area span { 
	color: #fa9f00; 
}

#send-message-area p { 
	float: left; 
	padding-top: 27px; 
	font-size: 14px;
	color: black;
}

#sendie { 
	border: 3px solid #999; 
	width: 360px; 
	padding: 10px; 
	font: 12px Helvetica, Sans-Serif;
	float: right; 
}
